[Desktop Entry]
Version=1.0
Type=Application
Name=IC-7300MK2 Control
GenericName=Control de transceptor
Comment=Control CI-V para Icom IC-7300MK2
Exec=/home/ramon/Icom7300Mk2Control_AndroidAuto/build/Icom7300Mk2Control
Icon=es.ramonlorenzo.Icom7300Mk2Control
Terminal=false
Categories=HamRadio;Utility;
StartupNotify=true
StartupWMClass=Icom7300Mk2Control
