[Desktop Entry]
Version=1.0
Type=Application
Name=IC-7300MK2 Control
GenericName=Control de transceptor
Comment=Control Icom IC-7300MK2 y observación LAN Quansheng
Exec=/home/ramon/Icom7300MK2/build/Icom7300Mk2Control
Path=/home/ramon/Icom7300MK2
Icon=org.icom.Icom7300Mk2Control
Terminal=false
Categories=HamRadio;
StartupNotify=true
StartupWMClass=Icom7300Mk2Control
